.header{
   display:flex;
   justify-content: space-between;
   background-color: teal;
}
.header li{
    display: inline-block;
    padding:5px;

}
.footer{
    background-color: silver;
    padding: 5px;
   
}
.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}
.box{
    margin: 5px;
    padding: 5px;
    border:1px solid gray;
    border-radius: 5px;
    
}
.header{
    background-color: violet;
    padding: 10px;
    text-align: center;
}
